@use "./colors";
@use "./fonts";
html,
body {
  background-color: #fff;
  font-family: "Roboto Slab", serif;
  @apply w-full;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p,
li,
small {
  font-family: "Roboto Slab", serif;
  @apply leading-loose;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: "Young Serif", serif;
  @apply leading-relaxed;
}

.btn {
  text-transform: capitalize;
}
.p-carousel-indicators {
  @apply mt-2;
  .p-carousel-indicator {
    @apply bg-slate-200 rounded-md;
  }

  .p-carousel-indicator.p-highlight {
    @apply bg-primary;
  }
}

.custom-list {
  @apply ml-6;
  li {
    @apply relative my-2;
    &::before {
      content: ".";
      @apply bg-secondary rounded-full text-transparent absolute -left-4 top-2;
      font-weight: bold;
      display: inline-block;
      width: 8px;
      height: 8px;
      position: absolute;
    }
  }
}

.accordion-custom i span {
    vertical-align: middle;
    /* @apply bg-base-100; */
}

.p-icon.p-accordion-toggle-icon{
    float: right !important;
    display: hidden !important;
}

.p-accordion .p-accordion-header {
    &:not(.p-disabled).p-highlight .p-accordion-header-link {
        @apply rounded-lg  bg-base-100  ring-1 ring-slate-100;
    }

}


.accordion-custom span {
    margin: 0 0.5rem;
}

.p-accordion p {
    line-height: 1.5;
    margin: 0;
}
