@use "./colors";
@use "./fonts";
html,
body {
  background-color: #fff;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto Slab",
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    Segoe UI Symbol,
    noto color emoji;
  @apply w-full;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

p,
li,
small,
b,
strong {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto Slab",
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    Segoe UI Symbol,
    noto color emoji;
  @apply leading-loose;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    "Young Serif",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto Slab",
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    Segoe UI Symbol,
    noto color emoji;
  @apply leading-relaxed;
}

.btn {
  text-transform: capitalize;
}
.p-carousel-indicators {
  @apply mt-2;
  .p-carousel-indicator {
    button.p-link {
      @apply w-3 h-3 bg-slate-200 rounded-full;
    }
  }

  .p-carousel-indicator.p-highlight {
    button.p-link {
      @apply w-3 h-3 bg-primary rounded-full;
    }
  }
}

.custom-list {
  @apply ml-6;
  li {
    @apply relative my-2;
    &::before {
      content: ".";
      @apply bg-secondary rounded-full text-transparent absolute -left-4 top-2;
      font-weight: bold;
      display: inline-block;
      width: 8px;
      height: 8px;
      position: absolute;
    }
  }
}

.accordion-custom i span {
  vertical-align: middle;
  /* @apply bg-base-100; */
}

.p-icon.p-accordion-toggle-icon {
  float: right !important;
  display: hidden !important;
}

// .p-accordion .p-accordion-header {
//     &:not(.p-disabled).p-highlight .p-accordion-header-link {
//         @apply rounded-lg  bg-base-100  ring-1 ring-slate-100;
//     }

// }

.accordion-custom span {
  margin: 0 0.5rem;
}

.p-accordion p {
  line-height: 1.5;
  margin: 0;
}

.btn {
  max-width: fit-content !important;
}

input.p-inputtext.p-component.p-inputnumber-input {
  text-align: center !important;
}

.p-dropdown-panel.p-component {
  max-width: 242px;
}
